:root {
    --color-praesenz: #4e2bc3;
    --color-korrespondenz: #4e2bc3;
    --color-mathetag: #4e2bc3;
    --color-mathecamp: #4e2bc3;
}

.events {
    margin-top: 1rem;
    margin-bottom: 1rem;

    // Event Container Styles
    .event-container {
        display: flex;
        align-items: flex-start;

        &.praesenz .event-icon {
            color: var(--color-praesenz);
        }
        &.korrespondenz .event-icon {
            color: var(--color-korrespondenz);
        }
        &.mathetag .event-icon {
            color: var(--color-mathetag);
        }
        &.mathecamp .event-icon {
            color: var(--color-mathecamp);
        }

        .event-icon {
            margin: 1rem;
        }

        .event-icon {
            @media (max-width: 900px) {
                display: none;
            }
        }

        .event-icon {
            svg {
                max-width: 150px;
            }
        }
    }
}
