.site-footer {
    background: var(--color-header-bg);
    color: var(--color-header-text-2);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    border-top: 2px solid var(--color-border);

    .footer-information {
        p {
            margin: 0;
        }
    }

    .footer-link-list {
        display: flex;
        align-items: center;
        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 0 1rem 0 1rem;
                padding: 0;
                @media (max-width: 600px) {
                    display: flex;
                }

                a,
                a:hover {
                    color: var(--color-header-text-2)
                }
            }
        }
    }
}
