/* Form-Container */
.contact-form {
    background-color: var(--color-form);
    color: var(--color-text);
    border-radius: 15px;
    height: auto;
    word-wrap: break-word;
    padding: 2rem;
    max-width: 600px;
    margin-top: 2rem;

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    select {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: #fff;
        font-size: 16px;
        appearance: none;
        margin-bottom: 1rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 1rem;

        &:focus {
            outline: 2px solid var(--color-header-bg);
        }
    }

    textarea {
        height: 10rem;
        max-height: 600px;
        resize: vertical;
    }

    input[type="submit"] {
        background-color: #cae2fc;
        color: var(--color-header-text-2);
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        transition: background-color 0.3s ease;
        margin-top: 2rem;
    }

    input[type="submit"]:hover {
        background-color: var(--color-button-hover);
    }

    p {
        margin: 0;
    }

    .captcha {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        img {
            margin-right: 20px;
        }
    }

    .error_message {
        color: red;
        margin-bottom: 1rem;
    }
}
