.site-header {
    background: var(--color-header-bg);
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /*Navbar remains on top*/
    position: sticky;
    top: 0px;
    z-index: 1;
    margin-bottom: 0;
    border-bottom: 2px solid var(--color-border);

    a {
        text-decoration: none;
    }

    color: var(--color-header-text-1);
}

.site-identity {
    margin: 0;
    display: flex;
    align-items: center;
    h1 {
        font-size: 2rem;
        margin: 0 10px;
        color: var(--color-header-text-1);
    }

    img {
        margin: 0;
    }
}


.site-navigation {
    margin: 0;
    display: flex;

    .menu-items {
        display: flex;

        ul {
            margin: 0;
            padding: 0;

            li {
                width: 24px;
                display: inline-block;
                margin: 1em 1em -0.5em 1em;

                a {
                    color: var(--color-header-text-1);
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    .nav-text {
                        opacity: 0;
                    }

                    &:hover {
                        .icon {
                            scale: 1.05;
                            color: var(--color-header-text-1);
                        }

                        .nav-text {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.dropdown-menu {
    display: none;
    width: 24px;
    margin: 1em 1em -0.5em 1em;
}

/* Responsive navbar */
@media (max-width: 600px) {
    .site-header {
        display: block;
    }

    .site-header-responsive {
        display: flex;
        justify-content: space-between;
    }

    .dropdown-menu {
        display: flex;
    }

    .site-navigation {
        display: none;
    }

    .nav-dropped {
        display: flex;
    }

    .site-navigation .menu-items ul li {
        display: flex;

        a {
            display: flex;
            flex-direction: row;

            .nav-text {
                opacity: 1;
                padding: 10px;
            }
        }
    }
}
