.container {
    min-height: 100vh;
    height: auto;
    padding: 1.5rem;
    max-width: 1200px;
    word-wrap: break-word;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title {
    text-align: left;
    font-size: 4rem;
}

.title-sep {
    border: 2px solid;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &.titlepage {
        align-items: center;
    }

    .content-column {
        display: flex;
        flex-direction: column;

        h2 {
            margin-top: 0;
        }

        &.left {
            flex-basis: 66.67%;
            margin-right: 2rem;

            @media (max-width: 900px) {
                margin: 1rem;
            }
        }

        &.right {
            flex-basis: 33.33%;
            margin-left: 2rem;

            img {
                max-width: 300px;
            }

            @media (max-width: 900px) {
                margin: 1rem;
            }
        }

        .content-box {
            background-color: var(--color-content-box);
            color: var(--color-text);
            border-radius: 15px;
            padding: 0.5rem 1rem;
            margin: 0.5rem 0;

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-top: 0;
            }

            p {
                margin: 0;
                margin-bottom: 0.5rem;
            }
        }

        .social-icons {
            display: flex;
            flex-direction: row;
            margin-top: 0.5rem;

            .social-icon {
                margin: 0 1rem;

                a,
                a:hover {
                    color: var(--color-text);
                }
            }
        }
    }

    @media (max-width: 900px) {
        flex-direction: column;
    }
}

.button-area {
    margin: 2rem 1rem;

    .button {
        margin: 1rem;
        padding: 1rem 1rem;
        background-color: var(--color-button);
        border-radius: 15px;
        text-align: center;
        display: inline-block;
        min-width: 280px;
        color: var(--color-header-text-2);

        &:hover {
            background-color: var(--color-button-hover);
        }

        &.disabled,
        &.disabled:hover {
            background-color: var(--color-button-disabled);
        }
    }
}

.pie-chart-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .pie-chart {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
    }

    @media (max-width: 900px) {
        flex-direction: column;

        .pie-chart {
            margin-left: 1rem;
            & + .gallery {
                margin-top: 1rem;
            }
        }
    }
}

.gallery-area {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .gallery {
        background-color: var(--color-highlight-box);
        border-radius: 15px;
        padding: 1rem;

        & + .gallery {
            margin-left: 1rem;
        }

        p {
            margin: 0;
            padding: 0;

            img {
                margin: 0;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
        }

        h3 {
            margin-top: 0;
        }

        ul {
            li {
                margin: 0;
            }
        }
    }

    @media (max-width: 900px) {
        flex-direction: column;

        .gallery {
            margin-left: 1rem;
            & + .gallery {
                margin-top: 1rem;
            }
        }
    }
}

.grid-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        margin: 1rem;
    }
}

.math-environment {
    margin: 1rem 1rem;
    text-align: center;
}

.centering {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    p {
        text-align: center;
    }
}

.centering-flex {
    display: flex;
    justify-content: center;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.highlight-box {
    background-color: var(--color-highlight-box);
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem;
    width: fit-content;

    h4 {
        margin-top: 0;
    }

    img {
        border-radius: 15px;
    }
}

.footnotes {
    margin: 60px;
    color: var(--color-text);
}
