@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-text: #000000;
    --color-bg: #ffffff;
    --color-header-bg: #e1f1fd;
    --color-header-text-1: #484848;
    --color-header-text-2: #181818;
    --color-border: #ebebeb;
    --color-content-box: #fce7c7;
    --color-shadow: #d7d7d7;
    --color-link: #0044cc;
    --color-link-hover: #4e2bc3;
    --color-button: #e1f1fd;
    --color-button-hover: #c1d8f0;
    --color-button-disabled: #efefef;
    --color-form: #f0f0f0;
    --color-highlight-box: #fffbf7;
}

/*Set overall background-colour*/
body {
    background: var(--color-bg);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

/*Set overall font-style*/
html,
button,
input,
select,
textarea {
    font-family:
        Open Sans,
        Helvetica,
        Georgia,
        sans-serif;
    color: var(--color-text);
}

a {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
        color: var(--color-link-hover);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-text);
    margin-top: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}
h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

p {
    margin-top: 0.5rem;
    text-align: justify;
}

img {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

figure {
    figcaption {
        text-align: center;
    }
}

ol,
ul {
    padding-left: 1.7em;
    margin-top: 10px;
    margin-bottom: 10px;
}

li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-collapse: collapse;

    th,
    td {
        padding: 10px;
        text-align: left;
        border: 1px solid;
    }
}

code {
    margin-left: 1rem;
}

blockquote {
    display: flex;
    justify-content: center;
}
