{{ define "main" }}
<main class="container">
    <h1 class="centering">Upps, da ist etwas schiefgelaufen!</h1>
    <section class="error-container">
        <span><span>4</span></span>
        <span>0</span>
        <span><span>4</span></span>
    </section>
    <div class="button-area centering">
        <a href="{{ "" | relURL }}">
            <div class="button">Zur Startseite</div>
        </a>
    </div>
</main>
{{ end }}
