{{ define "main" }}
<div class="container">
    <h1 class="title">{{ .Site.Title }}</h1>
    <hr class="title-sep" />

    {{ $about := .Site.GetPage "about.md" }}
    <h2>{{ $about.Title }}</h2>
    <div class="content titlepage">
        <div class="content-column left titlepage">
            <div class="content-block">
                {{ $about.Content | safeHTML }}
            </div>
        </div>
        <div class="content-column right titlepage">
            <div class="content-block content-box">
                {{ $events := .Site.GetPage "events.md" }}
                <h2>{{ $events.Title }}</h2>
                {{ $events.Content | safeHTML }}
            </div>
            <div class="content-block content-box">
                <h4>Social Media</h4>
                <div class="social-icons">
                    <div class="social-icon">
                        <a href="{{ .Site.Params.socials.facebook }}" target="_blank" rel="noopener">
                            {{- $icon := resources.Get "icons/feather/facebook.svg" -}}
                            {{ $icon.Content | safeHTML }}
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="{{ .Site.Params.socials.instagram }}" target="_blank" rel="noopener">
                            {{- $icon := resources.Get "icons/feather/instagram.svg" -}}
                            {{ $icon.Content | safeHTML }}
                        </a>
                    </div>
                    <div class="social-icon">
                        <a href="{{ .Site.Params.socials.youtube }}" target="_blank" rel="noopener">
                            {{- $icon := resources.Get "icons/feather/youtube.svg" -}}
                            {{ $icon.Content | safeHTML }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="events">
        <h2>Angebote</h2>
        <div class="event-container praesenz">
            <div class="event-icon">
                {{ $icon := ( resources.Get "icons/atlas/praesenz.svg" ) }}
                {{ $icon.Content | safeHTML }}
            </div>
            <div class="event">
                {{ $page := .Site.GetPage "veranstaltung/praesenzzirkel" }}
                <h3>{{ $page.Title }}</h3>
                <p>{{ $page.Summary }}</p>
                <p><a href="/veranstaltung/praesenzzirkel">Mehr</a></p>
            </div>
        </div>
        <div class="event-container korrespondenz">
            <div class="event">
                {{ $page := .Site.GetPage "veranstaltung/korrespondenzzirkel" }}
                <h3>{{ $page.Title }}</h3>
                <p>{{ $page.Summary }}</p>
                <p><a href="/veranstaltung/korrespondenzzirkel">Mehr</a></p>
            </div>
            <div class="event-icon">
                {{ $icon := ( resources.Get "icons/atlas/korrespondenz.svg" ) }}
                {{ $icon.Content | safeHTML }}
            </div>
        </div>
        <div class="event-container mathetag">
            <div class="event-icon">
                {{ $icon := ( resources.Get "icons/atlas/mathetage.svg" ) }}
                {{ $icon.Content | safeHTML }}
            </div>
            <div class="event">
                <h3>Mathetage</h3>
                {{ $page := .Site.GetPage "veranstaltung/astrotag" }}
                <h4>{{ $page.Title }}</h4>
                <p>{{ $page.Summary }}</p>
                <p><a href="/veranstaltung/astrotag">Mehr</a></p>
                {{ $page := .Site.GetPage "veranstaltung/mai-mathetag" }}
                <h4>{{ $page.Title }}</h4>
                <p>{{ $page.Summary }}</p>
                <p><a href="/veranstaltung/mai-mathetag">Mehr</a></p>
            </div>
        </div>
        <div class="event-container mathecamp">
            <div class="event">
                <h3>Feriencamps</h3>
                {{ $page := .Site.GetPage "veranstaltung/mathecamp" }}
                <h4>{{ $page.Title }}</h4>
                <p>{{ $page.Summary }}</p>
                <p><a href="/veranstaltung/mathecamp">Mehr</a></p>
                {{ $page := .Site.GetPage "veranstaltung/wintercamp" }}
                <h4>{{ $page.Title }}</h4>
                <p>{{ $page.Summary }}</p>
                <p><a href="/veranstaltung/wintercamp">Mehr</a></p>
            </div>
            <div class="event-icon">
                {{ $icon := ( resources.Get "icons/atlas/mathecamp.svg" ) }}
                {{ $icon.Content | safeHTML }}
            </div>
        </div>
    </div>

    <div class="content-column">
        {{ $page := .Site.GetPage "others.md" }}
        <h2>{{ $page.Title }}</h2>
        {{ $page.Content | safeHTML }}
    </div>
</div>
{{ end }}
