<footer class="site-footer">
    <div class="footer-information">
        <p>Diese Seite wurde mit <a href="https://gohugo.io/">Hugo</a> erstellt.<br>
        Der Quelltext der Seite ist auf <a href="https://gitlab.com/mathezirkel/server/website">GitLab</a> verfügbar.</p>
    </div>
    <div class="footer-link-list">
        <ul>
            {{ range sort .Site.Menus.footer "Weight" }}
            <li>
                <a class="footer-link" href="{{ .URL }}">
                    {{ $text := print .Name | safeHTML }}
                    <span>{{ $text }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</footer>
