<header class="site-header">
    <div class="site-header-responsive">
        <div class="site-identity">
            <a href="{{ .Site.BaseURL }}">
                {{ with .Site.Params.navigation.logo }} {{ $brandlogo := ( resources.Get . ).Resize "100x" }}
                <img
                    src="{{ $brandlogo.RelPermalink }}"
                    alt="logo"
                    width="40"
                />
                {{ end }}
            </a>
            <a href="{{ .Site.BaseURL }}">
                {{ with .Site.Params.navigation.brand }}
                <h1>{{ . | safeHTML }}</h1>
                {{ end }}
            </a>
        </div>
        <div id="hamburger" class="dropdown-menu">
            {{ $icon := ( resources.Get "icons/feather/menu.svg" ) }}
            <span class="dropdown-icon">{{ $icon.Content | safeHTML }}</span>
        </div>
    </div>
    <nav id="nav" class="site-navigation">
        <div class="menu-items">
            <ul class="nav">
                {{ range sort .Site.Menus.main "Weight" }}
                <li>
                    <a class="nav-link" href="{{ .URL }}">
                        {{ if .Params.icon }} {{ $icon := ( resources.Get .Params.icon ) }}
                        <span class="nav-icon"> {{ $icon.Content | safeHTML }} </span>
                        {{ end }} {{ $text := print .Name | safeHTML }}
                        <span class="nav-text">{{ $text }}</span>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</header>
