<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ $CSS := resources.Get "css/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $CSS.RelPermalink }}" integrity="{{ $CSS.Data.Integrity }}">

    {{- partial "head/custom.html" . -}}

    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    {{ $navbarJS := resources.Get "js/navbar.js" | resources.Minify | resources.Fingerprint "sha512" }}
    <script defer src={{ $navbarJS.RelPermalink }} integrity="{{ $navbarJS.Data.Integrity }}"></script>
</head>
