{{ define "main" }}
<main class="container">
    <h1>{{ .Title }}</h1>
    <div class="content">
        <div class="content-column left">{{ .Content }}</div>
        <div class="content-column right">
            <img src="{{ .Params.image }}" alt="Bild der Veranstaltung" />
            <div class="button-area">
                {{ if .Params.registration }}
                <a href="{{ .Params.registrationLink }}">
                    <div class="button">{{ .Params.registrationLinkText | default "Anmelden" }}</div>
                </a>
                {{ else }}
                <div class="button disabled">{{ .Params.registrationLinkText | default "Aktuell keine Anmeldung möglich!" }}</div>
                {{ end }}
                {{ if .Params.feedback }}
                <a href="/feedback">
                    <div class="button">Anonymes Feedback</div>
                </a>
                {{ end }}
                {{ if .Params.donate }}
                <a href="/kontakt">
                    <div class="button">Spenden</div>
                {{ end }}
                </a>
            </div>
        </div>
    </div>
</main>
{{ end }}
