<div class="contact-form">
    <form action="" method="post">
        {{ "{% csrf_token %}" }}
        <p>{{ "{{ form.event_field.label_tag }} {{ form.event_field }}" }}</p>
        <p>{{ "{{ form.message_field.label_tag }} {{ form.message_field }}" }}</p>
        <div class="captcha">
            {{ "{{ form.captcha_field }}" }}
        </div>
        <p class="error_message">{{ "{{ form.captcha_field.errors.0 }}" }}</p>
        <p>{{ "{{ form.privacy_agreement_checkbox }}" }} {{ .Get "checkbox" | markdownify }}</p>
        <p>{{ .Get "note" | markdownify }}</p>
        <input type="submit" value="Absenden" />
    </form>
</div>
